#passwordMessage {
    display:none;
    background: #f1f1f1;
    color: #000;
    position: relative;
}

#passwordMessage2 {
    display:none;
    background: #f1f1f1;
    color: #000;
    position: relative;
}
.error {
    color: red;
    margin-top: 5px;
}
/* Add a green text color and a checkmark when the requirements are right */
.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -35px;
    content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
}

input:required:invalid {
    box-shadow: 0 0 5px 1px red;
    border-color: red;
}

input:required:valid {
    box-shadow: 0 0 5px 1px green;
    border-color: green;
}

input:valid {
    box-shadow: 0 0 5px 1px green;
    border: green;
}